@font-face {
    font-family: Gage; /* ??? ?????? */
    src: url('../fonts/7fonts.ru_N-Gage.ttf'); /* ???? ? ????? ?? ??????? */
}

body {
    font-family: Gage;
    padding-top: 20px;
}

.imgApp {
    background: url('../images/react.png') -131px, 1px no-repeat;
}

