<!doctype html>  
html(lang="en")
    head
        meta(charset="utf-8")
        title Hello World Isomorphic
        script(src='http://fb.me/react-with-addons-0.13.1.js')
        script(src='http://fb.me/JSXTransformer-0.13.1.js')

    body
        #app!= content
        script(src='http://localhost:3000/main.js', defer)
