doctype html
html
   head
      title= title
      //link(rel='stylesheet', href='./public/assets/styles.css')
      script(src='/public/assets/common.js')
   //   script(src='/public/assets/menu.js')
   body
      #menu
      block content
      script(src='/public/assets/menu.js')